# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ipython notebooks
.ipynb_checkpoints

# C extensions
*.so

# Other not important stuff
.vscode

# Distribution / packaging
.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.history/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
None0000000.png

# PyBuilder
target/

# pyenv python configuration file
.python-version

# Vagrant folder
.vagrant
.history/pyswarms/backend/topology/pyramid_20230518141934.py
.history/pyswarms/backend/topology/pyramid_20230605140623.py
.history/pyswarms/backend/topology/pyramid_20230605141726.py
.history/pyswarms/backend/topology/random_20230518140318.py
.history/pyswarms/backend/topology/random_20230605142232.py
.history/tests/utils/plotters/BROKENtest_plotters_20230605121652.py
.history/tests/utils/plotters/BROKENtest_plotters_20230605121758.py
.history/tests/utils/plotters/BROKENtest_plotters_20230605123711.py
.history/tests/utils/plotters/test_plotters_20230511124316.py
.history/tests/utils/plotters/test_plotters_20230526143242.py
.history/tests/utils/plotters/test_plotters_20230526143409.py
.history/tests/utils/plotters/test_plotters_20230605120649.py
.history/tests/utils/plotters/test_plotters_20230605120713.py
.history/tests/utils/plotters/test_plotters_20230605120714.py
.history/tests/utils/plotters/test_plotters_20230605121055.py
.history/tests/utils/plotters/test_plotters_20230605121349.py
.history/tests/utils/plotters/test_plotters_20230605121456.py
.history/tests/utils/plotters/test_plotters_20230605121600.py
.history/tests/utils/plotters/test_plotters_20230605121653.py
.history/tests/utils/plotters/test_plotters_20230605123951.py
.history/.gitignore_20230511124315
.history/.gitignore_20230605142534
